.anadir-reportes-container {
    width: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    min-height: 100vh;
    box-sizing: border-box;
  }
  
  .anadir-reportes-card {
    background: rgba(255, 255, 255, 0.95);
    padding: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 600px;
    min-height: 60vh; 
    max-height: 90vh; 
    margin: 50px 0;
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Estilos para react-select */
.input-field {
  width: 100%;
}

/* Sobrescribir estilos por defecto de react-select */
.css-13cymwt-control {
  border: 1.5px solid rgba(26, 61, 106, 0.1) !important;
  border-radius: 0.5rem !important;
  font-size: 1rem !important;
  min-height: 40px !important;
  box-sizing: border-box !important;
}

/* Estilo cuando el select está enfocado */
.css-t3ipsp-control {
  border: 1.5px solid rgba(26, 61, 106, 0.1) !important;
  border-radius: 0.5rem !important;
  box-shadow: none !important;
  min-height: 40px !important;
}

/* Contenedor del select */
.select-container {
  width: 100%;
}

/* Ocultar flechas en campos numéricos para Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Ocultar flechas en campos numéricos para Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.error-text {
  color: #ff6b6b;
  font-weight: bold;
  margin-top: 0.5rem;
  display: block;
}

.status-message-reporte {
  padding: 0.8rem;
  border-radius: 0.5rem;
  width: 90%;
  text-align: center;
  margin-bottom: 0.2rem;
}

.status-message-reporte.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.status-message-reporte.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.status-message-reporte.warning {
  background-color: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
}

.title1 {
  color: #153354;
  margin-top: 0.1rem;  /* Añadir margen superior pequeño */
  margin-bottom: 1rem;  /* Mantener margen inferior */
  font-weight: 600;
}