.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #3a8dde, #ffffff);
  font-family: Arial, sans-serif;
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.login-box button:hover {
  background-color: #0056b3;
}

.message {
  margin-top: 15px;
  color: red;
  font-size: 14px;
}

.prebel-logo {
  width: 250px;
  margin-bottom: 20px;
  opacity: 10; 
}
