.crear-usuario-container {
  align-items: center;
  background: linear-gradient(135deg, #a8c0ff, #c1e1ff);
  color: #333;
  display: flex;
  height: 100vh;
  justify-content: center;
  max-width: 600px;
  width: 100%;
}

.crear-usuario-card {
  background: rgba(243, 243, 243, 0.9);
  border-radius: 12px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  padding: 30px;
  text-align: center;
  width: 100%;
  backdrop-filter: blur(10px);
}

.crear-usuario-card h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left; /* Alinea las etiquetas y campos a la izquierda */
}

label {
  color: #333;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px;
  width: 100%; /* Todos los campos de texto y select tendrán el mismo ancho */
  box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

button {
  background: #5a9fd4;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 12px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

button:hover {
  background: #3b82c4;
  box-shadow: 0px 4px 10px rgba(91, 159, 212, 0.4);
  transform: scale(1.05);
}