.crear-rol-container-unique {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #a8c0ff, #c1e1ff);
    color: #333;
    max-width: 600px;
    width: 100%;
    margin: 0 auto; 
}

.crear-rol-card-unique {
    background: rgba(243, 243, 243, 0.95); 
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.25); 
    text-align: center;
    max-width: 400px;
    width: 100%;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
}

.crear-rol-card-unique h2 {
    margin-bottom: 20px;
    font-size: 26px; 
    color: #333;
    font-weight: 600; 
}

.form-group-unique {
    margin-bottom: 25px; 
    color: #333;
    font-size: 16px;
}

.form-group-unique label {
    display: block;
    margin-bottom: 10px; 
    font-weight: bold;
    color: #333;
    font-size: 14px; 
}

.form-group-unique input {
    width: 90%; 
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px; 
    font-size: 14px;
    transition: border-color 0.3s ease-in-out; 
}

.form-group-unique input:focus {
    border-color: #5a9fd4; 
    outline: none; 
}

.crear-rol-card-unique button {
    width: 100%;
    padding: 14px; 
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: #5a9fd4;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px; 
}

.crear-rol-card-unique button:hover {
    background: #3b82c4;
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(91, 159, 212, 0.5); 
}