 .visualizar-permisos-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 10px;
    box-sizing: border-box;
  }

  .visualizar-permisos-card {
    background: rgba(255, 255, 255, 0.95);
    padding: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
    width: 90%;
    max-width: 600px;
    z-index: 10; 
    margin-top: 100px; 
  }

  @media (max-width: 480px) {
    .visualizar-permisos-container {
      padding: 1rem;
      border-radius: 1rem;
    }
  
    .visualizar-permisos-card {
      overflow: visible !important;
      position: relative;
    }
    
  }
  
  .Select__control {
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: none;
    transition: border-color 0.2s ease;
  }
  
  .Select__control:hover {
    border-color: #0056b3; 
  }
  
  .Select__control--is-focused {
    border-color: #0056b3;
    box-shadow: 0 0 0 2px rgba(0, 86, 179, 0.2);
  }
  
  .permissions-list h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
  }
  
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .permission-item {
    width: 100%;
    background: #f8f9fa;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .module-name {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
  }
  
  .permissions-list-right {
    font-size: 0.9rem;
    color: rgba(26,61,106,1);
    text-align: right;
  }

  .css-1nmdiq5-menu {
    z-index: 9999 !important;
    position: absolute !important;
  }
  
  
